body {
  background-color: whitesmoke;
}

.todo-list {
  margin: auto;
  width: 50%;
  display: flex;
  background-color: white;
  align-items: center;
  flex-direction: column;
  border: 1px solid #d7d7d7;
  padding: 30px;
  box-shadow:
    /* top layer shadow */ 0 1px 1px rgba(0, 0, 0, 0.15);
    /* second layer */ 0 10px 0 -5px #eee;
}

.todo-item {
  color: #708090;
  display: flex;
  font-weight: 100;
  font-size: 16px;
  padding: 30px 20px 0;
  align-items: center;
  border-bottom: 1px solid #8b008b;
  font-family: Roberto, sans-serif;
  width: 70%;
}

input[type="checkbox"] {
  margin-right: 10px;
  font-size: 30px;
}

input[type="checkbox"]:focus {
  outline: 0;
}
